<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>관리자 게시판 목록</title>
<link rel ="stylesheet href ="/css/admin-styles.css">
</head>
<body>
<h1>관리자 게시판</h1>
<table>
	<thead>
	<tr>
		<th>번호</th>
		<th>제목</th>
		<th>작성자</th>
		<th>작성 날자</th>
		<th>관리</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="board : ${boards}">
		<td th:text ="${board.id}"></td>
		<td>
			<a th:href = "@{/admin/boards/{id}(id=${board.id})}" th:text="${board.title}"></a>
		</td>
		<td th:text ="${board.author}"></td>
		<td th:text ="${board.createdAt}"></td>
		<td>
			<a th:href ="@{/admin/boards/update/update/{id}(id={board.id})}">수정</a>
			<a th:href ="@{/admin/boards/update/update/{id}(id={board.id})}">onclick = "return confirm('삭제하시겠습니가?')">삭제</a>
		</td>
		</tr>
		</tbody>
	</table>
<!-- 공지사항 작성 버튼 -->	
<button onclick= "location.href='/admin/boards/create'">공지사항 작성</button>
</body>
</html>