body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}
h1 {
    color: #333;
    text-align: center;
}
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #f8f8f8;
}
table th, table td{
	border: 1px solid #ccc;
}
