<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hjhotelback.mapper.reservation.ReservationMapper">

   
     <!-- 관리자 예약목록 조회 -->
    <select id="getReservationList" resultType="com.hjhotelback.dto.reservation.ResReservation$Detail">
        select RS.reservation_id AS reservation_id, M.name AS user_name, RT.name AS room_type, RT.base_occupancy AS base_occupancy, 
            RT.max_occupancy AS max_occupancy, R.room_number AS room_number, RS.check_in AS check_in, RS.check_out AS check_out, 
            RS.status AS status, RS.total_amount AS total_amount 
        FROM reservation as RS 
        JOIN member AS M ON RS.member_id=M.member_id
        JOIN room AS R ON RS.room_id=R.room_id
        JOIN room_type AS RT ON R.room_type_id = RT.room_type_id;
    </select>

    <!-- 사용자/관리자 예약상세 조회 -->
    <select id="getReservationById" resultType="com.hjhotelback.dto.reservation.ResReservation$Detail">
        select RS.reservation_id AS reservation_id, M.name AS user_name, RT.name AS room_type, RT.base_occupancy AS base_occupancy, 
            RT.max_occupancy AS max_occupancy, R.room_number AS room_number, RS.check_in AS check_in, RS.check_out AS check_out, 
            RS.status AS status, RS.total_amount AS total_amount 
        FROM (SELECT * from reservation where reservation_id=#{reservaionId}) as RS 
        JOIN member AS M ON RS.member_id=M.member_id
        JOIN room AS R ON RS.room_id=R.room_id
        JOIN room_type AS RT ON R.room_type_id = RT.room_type_id;
    </select>

    <!-- 사용자 예약 생성 -->
    <insert id="createReservation">
        INSERT INTO reservation (member_id, room_id, check_in, check_out, status, total_amount) VALUES (#{memberId}, #{roomId}, #{checkIn}, #{checkOut}, 'PENDING', #{totalAmount});
    </insert>

    <!-- 사용자 예약 날짜 변경 -->
    <update id="changeReservationDateForUser">
        UPDATE reservation SET check_in = #{checkIn}, check_out = #{checkOut} 
        WHERE reservation_id = #{reservationId} AND member_id = #{memberId};
    </update>

    <!-- 관리자 예약 날짜 변경 -->
    <update id="changeReservationDateForAdmin">
        UPDATE reservation SET check_in = #{checkIn}, check_out = #{checkOut} WHERE reservation_id = #{reservationId}; 
    </update>

    <!-- 관리자 예약 객실 변경 -->
    <update id="changeReservationRoomById">
        UPDATE reservation SET room_id = #{roomId} WHERE reservation_id = #{reservationId};
    </update>

    <!-- 관리자 예약 상태 변경 24.11.21 한택 [보류]-{CANCELLED도 포함}-->
    <update id="changeReservationStatusById">
        UPDATE reservation SET status = #{status} WHERE reservation_id = #{reservationId} AND status != 'COMPLETED';
    </update>

    <!-- 사용자 예약 취소 status==PENDING 일때 -->
   <delete id="deleteReservationById"> 
        DELETE FROM reservation WHERE reservation_id = #{reservationId} AND status = 'PENDING' 
   </delete> 

</mapper>