<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjhotelback.mapper.payment.PaymentMapper">

	<select id="getPaymentsList" resultType="com.hjhotelback.dto.payment.PaymentListDTO">
		SELECT 
			p.payment_id, 
			p.reservation_id, 
			rs.member_id,
			m.name member_name,
			p.payment_method, 
			p.payment_status,
			p.amount, 
			p.created_at,
			p.updated_at
		FROM payment p
		JOIN reservation rs ON p.reservation_id = rs.reservation_id
		JOIN member m ON m.member_id = rs.member_id;
	</select>
	
	<select id="getPaymentById" resultType="com.hjhotelback.dto.payment.PaymentDetailDTO">
		SELECT py.payment_id, 
	       py.reservation_id, 
	       m.name AS member_name, 
	       py.payment_method, 
	       py.status AS payment_status, 
	       py.amount,
	       py.transaction_id, 
	       py.created_at AS payment_date,
	       py.updated_at AS payment_status_update,
           GROUP_CONCAT(
            CONCAT(pp.created_at, ' : ', pp.status) 
            ORDER BY pp.created_at ASC
             SEPARATOR '\n') AS payment_process_log
		FROM payment py
		JOIN reservation rs ON py.reservation_id = rs.reservation_id
		LEFT JOIN payment_process pp ON py.reservation_id = pp.reservation_id
		JOIN member m ON m.member_id = rs.member_id
		WHERE payment_id = #{paymentId}
		GROUP BY py.payment_id, py.reservation_id, m.name, py.payment_method, py.status, py.amount, py.transaction_id, py.created_at, py.updated_at;
	</select>
	
	<insert id="createPayment" useGeneratedKeys="true" keyProperty="paymentId" parameterType="com.hjhotelback.dto.payment.PaymentDTO">
		INSERT INTO payment (
	        reservation_id,
	        amount,
	        payment_method,
	        status,
	        transaction_id,
	        created_at,
	        updated_at
	    )
	    VALUES (
	        #{reservationId},
	        #{amount},
	        #{paymentMethod},
	        #{status},
	        #{transactionId},
	        NOW(),
	        NOW()
	    )
	</insert>
</mapper>