<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjhotelback.mapper.payment.PaymentMapper">

	<select id="getPaymentsList" resultType="com.hjhotelback.dto.payment.PaymentDTO">
		SELECT py.payment_id, 
				py.reservation_id, 
				py.amount, 
				py.payment_method, 
				py.status, 
				py.transaction_id,
				rs.member_id,
				py.created_at, 
				py.updated_at
		FROM payment py
		JOIN reservation rs ON py.reservation_id = rs.reservation_id;
	</select>
	
	<insert id="createPayment" parameterType="com.hjhotelback.dto.payment.PaymentDTO">
		INSERT INTO payment (
	        reservation_id,
	        amount,
	        payment_method,
	        status,
	        transaction_id,
	        created_at,
	        updated_at
	    )
	    VALUES (
	        #{reservationId},
	        #{amount},
	        #{paymentMethod},
	        #{status},
	        #{transactionId},
	        NOW(),
	        NOW()
	    )
	    <selectKey resultType="int" keyProperty="paymentId" order="AFTER">
	        SELECT LAST_INSERT_ID()
	    </selectKey>
	</insert>
</mapper>